In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline

In [2]:
df = pd.read_csv('case_study.csv', index_col = 0 )

/Users/flatironschool/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (171) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
df

,_STATE,FMONTH,IDATE,IMONTH,IDAY,IYEAR,DISPCODE,SEQNO,_PSU,CTELENM1,...,_PA300R2,_PA30021,_PASTRNG,_PAREC1,_PASTAE1,_RFSEAT2,_RFSEAT3,_FLSHOT6,_PNEUMO2,_AIDTST3
49938,9.0,5.0,5172017,5,17,2017,1200.0,2017000001,2.017000e+09,NaN,...,2.0,2.0,2.0,4.0,2.0,1.0,1.0,NaN,NaN,1.0
49939,9.0,2.0,2142017,2,14,2017,1200.0,2017000002,2.017000e+09,NaN,...,1.0,1.0,1.0,1.0,1.0,2.0,2.0,NaN,NaN,2.0
49940,9.0,1.0,1292017,1,29,2017,1200.0,2017000003,2.017000e+09,NaN,...,3.0,2.0,1.0,3.0,2.0,1.0,1.0,NaN,NaN,2.0
49941,9.0,7.0,9112017,9,11,2017,1200.0,2017000004,2.017000e+09,NaN,...,2.0,2.0,2.0,2.0,2.0,1.0,1.0,NaN,NaN,1.0
49942,9.0,5.0,7182017,7,18,2017,1200.0,2017000005,2.017000e+09,NaN,...,2.0,2.0,1.0,1.0,1.0,1.0,1.0,NaN,NaN,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
303774,36.0,5.0,5152017,5,15,2017,1200.0,2017012245,2.017012e+09,NaN,...,3.0,2.0,2.0,4.0,2.0,1.0,1.0,NaN,NaN,1.0
303775,36.0,6.0,6252017,6,25,2017,1200.0,2017012246,2.017012e+09,NaN,...,2.0,2.0,2.0,4.0,2.0,1.0,1.0,NaN,NaN,1.0
303776,36.0,7.0,7212017,7,21,2017,1200.0,2017012247,2.017012e+09,NaN,...,2.0,2.0,2.0,4.0,2.0,1.0,1.0,NaN,NaN,1.0
303777,36.0,7.0,7202017,7,20,2017,1200.0,2017012248,2.017012e+09,NaN,...,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0
303778,36.0,7.0,7252017,7,25,2017,1200.0,2017012249,2.017012e+09,NaN,...,3.0,2.0,2.0,4.0,2.0,1.0,1.0,NaN,NaN,1.0

In [20]:
df.isnull()

,_STATE,FMONTH,IDATE,IMONTH,IDAY,IYEAR,DISPCODE,SEQNO,_PSU,CTELENM1,...,_PA300R2,_PA30021,_PASTRNG,_PAREC1,_PASTAE1,_RFSEAT2,_RFSEAT3,_FLSHOT6,_PNEUMO2,_AIDTST3
49938,False,False,False,False,False,False,False,False,False,True,...,False,False,False,False,False,False,False,True,True,False
49939,False,False,False,False,False,False,False,False,False,True,...,False,False,False,False,False,False,False,True,True,False
49940,False,False,False,False,False,False,False,False,False,True,...,False,False,False,False,False,False,False,True,True,False
49941,False,False,False,False,False,False,False,False,False,True,...,False,False,False,False,False,False,False,True,True,False
49942,False,False,False,False,False,False,False,False,False,True,...,False,False,False,False,False,False,False,True,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
303774,False,False,False,False,False,False,False,False,False,True,...,False,False,False,False,False,False,False,True,True,False
303775,False,False,False,False,False,False,False,False,False,True,...,False,False,False,False,False,False,False,True,True,False
303776,False,False,False,False,False,False,False,False,False,True,...,False,False,False,False,False,False,False,True,True,False
303777,False,False,False,False,False,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
303778,False,False,False,False,False,False,False,False,False,True,...,False,False,False,False,False,False,False,True,True,False

In [14]:
for col in df:
    print(col,':', col.isna().sum())

AttributeError: 'str' object has no attribute 'isna'

In [55]:
# def create_list_columns_to_drop():
list_of_dropped_columns = []
for col in df.columns:
    if df[col].isna().sum() == len(df):
        list_of_dropped_columns.append(col)

In [56]:
list_of_dropped_columns

['COPDCOGH',
 'COPDFLEM',
 'COPDBRTH',
 'COPDBTST',
 'COPDSMOK',
 'HAREHAB1',
 'STREHAB1',
 'CVDASPRN',
 'ASPUNSAF',
 'RLIVPAIN',
 'RDUCHART',
 'RDUCSTRK',
 'BPEATHBT',
 'BPSALT',
 'BPALCHOL',
 'BPEXER',
 'BPEATADV',
 'BPSLTADV',
 'BPALCADV',
 'BPEXRADV',
 'BPMEDADV',
 'BPHI2MR',
 'ARTTODAY',
 'ARTHWGT',
 'ARTHEXER',
 'ARTHEDU',
 'ASTHMAGE',
 'ASATTACK',
 'ASERVIST',
 'ASDRVIST',
 'ASRCHKUP',
 'ASACTLIM',
 'ASYMPTOM',
 'ASNOSLEP',
 'ASTHMED3',
 'ASINHALR',
 'PAINACT2',
 'QLMENTL2',
 'QLSTRES2',
 'QLHLTH2',
 'SLEPTIM1',
 'ADSLEEP',
 'SLEPDAY1',
 'SLEPSNO2',
 'SLEPBRTH',
 'CNCRDIFF',
 'CNCRAGE',
 'CNCRTYP1',
 'CSRVTRT2',
 'CSRVDOC1',
 'CSRVSUM',
 'CSRVRTRN',
 'CSRVINST',
 'CSRVINSR',
 'CSRVDEIN',
 'CSRVCLIN',
 'CSRVPAIN',
 'CSRVCTL1',
 'SSBSUGR2',
 'SSBFRUT3',
 'WTCHSALT',
 'DRADVISE',
 'MARIJANA',
 'USEMRJN1',
 'RSNMRJNA',
 'IMFVPLAC',
 'HPVADVC2',
 'HPVADSHT',
 'TETANUS',
 'LCSFIRST',
 'LCSLAST',
 'LCSNUMCG',
 'LCSCTSCN',
 'CAREGIV1',
 'CRGVREL2',
 'CRGVLNG1',
 'CRGVHRS1',
 'CRGVPRB2',
 'CRGVPERS',
 'CRGVHOUS',
 'CRGVMST2',
 'CRGVEXPT',
 'CIMEMLOS',
 'CDHOUSE',
 'CDASSIST',
 'CDHELP',
 'CDSOCIAL',
 'CDDISCUS',
 'EMTSUPRT',
 'LSATISFY',
 'SDHBILLS',
 'SDHMOVE',
 'HOWSAFE1',
 'SDHFOOD',
 'SDHMEALS',
 'SDHMONEY',
 'SDHSTRES',
 'FIREARM4',
 'GUNLOAD',
 'LOADULK2']